identity:
  type: UserAssigned
  userAssignedIdentities:
    /subscriptions/#{SUBSCRIPTION_ID}#/resourceGroups/#{RESOURCE_GROUP}#/providers/Microsoft.ManagedIdentity/userAssignedIdentities/#{UAMI_NAME}#: {}
properties:
  environmentId: /subscriptions/#{SUBSCRIPTION_ID}#/resourceGroups/#{RESOURCE_GROUP}#/providers/Microsoft.App/managedEnvironments/#{CONTAINER_APP_ENV}#
  configuration:
    registries:
      - server: #{ACR_REGISTRY}#
        identity: /subscriptions/#{SUBSCRIPTION_ID}#/resourceGroups/#{RESOURCE_GROUP}#/providers/Microsoft.ManagedIdentity/userAssignedIdentities/#{UAMI_NAME}#
    ingress:
      external: true
      targetPort: 8000
      transport: http
      allowInsecure: false
    secrets:
      - name: sample-api-key
        keyVaultUrl: https://#{KEY_VAULT_NAME}#.vault.azure.net/secrets/#{TENANT}#-api-key
        identity: /subscriptions/#{SUBSCRIPTION_ID}#/resourceGroups/#{RESOURCE_GROUP}#/providers/Microsoft.ManagedIdentity/userAssignedIdentities/#{UAMI_NAME}#
      - name: db-connection-string
        keyVaultUrl: https://#{KEY_VAULT_NAME}#.vault.azure.net/secrets/#{TENANT}#-psql-connection-string
        identity: /subscriptions/#{SUBSCRIPTION_ID}#/resourceGroups/#{RESOURCE_GROUP}#/providers/Microsoft.ManagedIdentity/userAssignedIdentities/#{UAMI_NAME}#
  template:
    containers:
      - name: #{CONTAINER_NAME}#
        image: #{ACR_REGISTRY}#/#{IMAGE_NAME}#:#{IMAGE_TAG}#
        env:
          - name: ENVIRONMENT
            value: "#{ENVIRONMENT}#"
          - name: ROOT_PATH
            value: "#{ROOT_PATH}#"
          - name: APP_NAME
            value: "#{APP_DISPLAY_NAME}#"
          - name: TENANT
            value: "#{TENANT}#"
          - name: APP_TYPE
            value: "#{APP_TYPE}#"
          - name: AZURE_CLIENT_ID
            value: "#{UAMI_CLIENT_ID}#"
          - name: PORT
            value: "8000"
          - name: SAMPLE_API_KEY
            secretRef: sample-api-key
          - name: DATABASE_URL
            secretRef: db-connection-string
        resources:
          cpu: #{CPU}#
          memory: #{MEMORY}#
        probes: []
    scale:
      minReplicas: #{MIN_REPLICAS}#
      maxReplicas: #{MAX_REPLICAS}#
      rules:
        - name: http-scaling
          http:
            metadata:
              concurrentRequests: "100"
